body {
    background: #efeeee;
}

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;

    &>[class^="col-"],
    &>[class*=" col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}

/* Custom CSS */

/* Borders */
.border-att-blue {
    border-color: $attblue !important;
}

.border-att-darkblue {
    border-color: $attdarkblue !important;
}

.border-att-grey {
    border-color: $attgrey !important;
}

.border-att-lightgrey {
    border-color: $attlightgrey !important;
}

.border-att-light {
    border-color: $attlight !important;
}

.border-att-5 {
    border-bottom: 5px solid $attblue !important;
}


/* Form Fields */
.order-section {
    border: 0;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    box-shadow: none;
    outline: none 0;
    height: 45px;
    width: 95%;
    font-size: 20px;
    padding-left: 15px;
}

button,
input,
optgroup,
select,
textarea {
  color: #ccc !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ccc!important;
  opacity: 1; /* Firefox */
}

/* Sticky Pricing Calculator */
.nav-z {
    z-index: 9999;
}

/* Background */
.bg-attblock {
    background-image: linear-gradient(90deg,#009fdb 0%,#0057b8 100%);
    background-color: #009fdb;
    border-color: rgba(0,0,0,0) rgba(0,0,0,0) #ff585d rgba(0,0,0,0);
    border-bottom-width: 3px!important;
    border-width: 0;
    border-style: solid;
}

.bg-attlight {
    background-color: $attlight !important;
}

.bg-attgrey {
    background-color: $attgrey !important;
}

.bg-primary {
    background-color:$attprimary !important;
}

.bg-attblue {
    background-color: $attblue !important;
}

.bg-attdarkblue {
    background-color: $attdarkblue !important;
}

.bg-transparent {
    background-color: transparent !important;
}

.btn-outline-attlight {
    border: 1px solid $attlight;
}

.bg-attpromo {
    border-color: rgba(0,0,0,0) rgba(0,0,0,0) #ff585d rgba(0,0,0,0);
    border-bottom-width: 3px!important;
    border-width: 0;
    border-style: solid;
}


/* Submit Button */
.btn-att {
    background: $attdarkblue;
    color: white !important;

    i {
        display: none;
    }

    &.loading {
        i {
            display: inline-block;
        }
    }

    &.active {
        background-color: #FFF !important;
        border: 1px solid $attdarkblue;
        color: black !important;

        &:before{
            font-family: 'Font Awesome 5 Free' !important;
            font-style: normal !important;
            font-weight: 900 !important;
            opacity: 1 !important;
            padding: 0 5px 0 0;
            position: relative;
            content: '\f00c';
            color: #009fdb;
        }
    }

}

/* Buttons */
.btn-gradient {
    border-radius: 3px;
    border: none;
    background-image: linear-gradient(145deg,#ffb000 0%,#ff585d 45%) !important;
    box-shadow: 4px 4px 12px 0px rgba(0,0,0,0.3) !important;
}

/* .btn-lg, .btn-group-lg > .btn {
    border-radius: 3px;
    border: none;
    background-image: linear-gradient(145deg,#ffb000 0%,#ff585d 45%) !important;
    box-shadow: 4px 4px 12px 0px rgba(0,0,0,0.3) !important;
} ->



/* Icons */
.icon-sm {
    height: 20px;
}

/* Header */
header {
    z-index: 9999 !important;
}

main {
    margin-top: 90px;

    @media screen and (max-width: $md-max) {
        margin-top: 70px;
    }
}


.title-card {
    .editNow {
        position: relative;
        top: 50%;
        right: 2%;
        transform: translateY(-50%);
    }

    .title-card-off{

        .check{
            &::before {
                font-family: 'Font Awesome 5 Free' !important;
                font-style: normal !important;
                font-weight: 900 !important;
                opacity: 1 !important;
                padding: 0 10px 0 0;
                position: relative;
                content: '\f00c';
                color:$attdarkblue;
                 @media screen and (max-width: $sxs-max) {
                    display:none;
                }
            }
        }   
    }

}


.sticky-offset {
    top: 95px; //same size of the header

    @media screen and (max-width: $md-max) {
        top: 76px;
    }
}

input, select{
    &.validation-error{
        border:1px solid red!important;
    }
}

.validation-error{
    &.modal-content{
        color:red!important;
    }
}

#cartPrice {
    .cartDetails_bnt {
        a {
            &::before {
                font-family: 'Font Awesome 5 Free' !important;
                font-style: normal !important;
                font-weight: 900 !important;
                opacity: 1 !important;
                display: contents !important;
                padding: 10px 10px 0px 20px;
                position: relative;
            }

            &[aria-expanded="true"] {
                &::before {
                    content: "\f106" !important;
                }
            }

            &[aria-expanded="false"] {
                &::before {
                    content: "\f107" !important;
                }
            }
        }
    }

    @media screen and (max-width: $md-max) {

        .price-taxes {
            margin-top: -50px;
            line-height: 0px;
            text-align: right;

            h2 {
                font-size: 20px !important;
            }
        }

        h4 {
            font-size: 20px !important;
        }
    }
}

/* T&C BOX */

.terms-box {
    max-height: 80px !important;
}

/* PROMO BANNER */
* {
  box-sizing: border-box;
}

.flag {
  width: 120px;
  height: 90px;
  margin: 0 auto;
  margin-top: -10px;
  padding-top: 20px;
  position: relative;
  /* background: $attdarkblue; */
  background-image: linear-gradient(145deg,#ffb000 0%,#ff585d 45%) !important;
  color: white;
  font-size: 24px;
  line-height: 1;
  font-weight: bold!important;
  font-family: "ATT Aleck Sans Bold"; ;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    .flag {
      width: 300px;
      height: 50px;
      padding-top: 10px;
      font-size: 18px;
    }
}

@media screen and (max-width: 320px) {
    .flag {
      width: 260px;
      height: 50px;
      padding-top: 10px;
      font-size: 18px;
    }
}

.flag:after {
  content: ' ';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 13px solid $attblue;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
}

@media screen and (max-width: 600px) {
    .flag:after {
      border-left: 150px solid transparent;
      border-right: 150px solid transparent;
    }
}

@media screen and (max-width: 320px) {
    .flag:after {
      border-left: 130px solid transparent;
      border-right: 130px solid transparent;
    }
}

.gcard {
    max-height: 80px!important;
    padding-top: 15px!important;
}

@media screen and (max-width: $md-max) {
    .gcard {
        margin-top: 0px!important;
    }
}

@media screen and (max-width: 600px) {
    .gcard {
        max-height:60px!important;
        padding-top: 0px!important;
    }
}

@media screen and (max-width: 320px) {
    .gcard {
        max-height: 50px!important;
        padding-top: 0px!important;
    }
}

.card-container {
    max-height: 140px;
    overflow: auto;
}
