body {
     font-family: 'ATT Aleck Sans Reg',Helvetica,Arial,Lucida,sans-serif !important;
 }

 @font-face { 
 	font-family: "ATT Aleck Sans Reg"; 
 	font-display: swap;
 	src: url("https://att-bundles.com/wp-content/uploads/et-fonts/ATTAleckSans_Rg.ttf") format("truetype"), url("https://att-bundles.com/wp-content/uploads/et-fonts/ATTAleckSans_Rg.otf") format("opentype");
 }

 @font-face { 
 	font-family: "ATT Aleck Sans Bold"; 
 	font-display: swap;
 	src: url("https://att-bundles.com/wp-content/uploads/et-fonts/ATTAleckSans_Bd.ttf") format("truetype"), url("https://att-bundles.com/wp-content/uploads/et-fonts/ATTAleckSans_Bd.otf") format("opentype");
 }

 .att-bold {
 	font-family: 'ATT Aleck Sans Bold',Helvetica,Arial,Lucida,sans-serif !important;
 }
 
 h1 { font-size: 56px; margin: 0px!important; }
  @media screen and (max-width: 576px) {
	h1 {
		font-size: 36px !important;
		margin: 0px !important;
		font-weight: bold !important;
	}
 }

 h2 { font-size: 44px; margin: 0px!important; }
  @media screen and (max-width: 576px) {
	h2 {
		font-size: 32px !important;
		margin: 0px !important;
		font-weight: bold !important;
	}
 }

 h3 { font-size: 36px; margin: 0px!important; }
 @media screen and (max-width: 576px) {
	h3 {
		font-size: 26px !important;
		margin: 0px !important;
	}
 }

 h4 { font-size: 30px; margin: 0px!important; }
 @media screen and (max-width: 576px) {
	h4 {
		font-size: 26px !important;
		margin: 0px !important;
		font-weight: bold !important;
	}
 }

 h5 { font-size: 22px; margin: 0px!important; }

  @media screen and (max-width: $sm-min) {
	h5 {
		font-size: 18px !important;
		margin: 0px !important;
	}
 }


 .text-gc { 
    font-size: 30px; line-height: 1; 
    font-family: "ATT Aleck Sans Bold"; 
 }

 @media screen and (max-width: 1200px) {
    .text-gc {
        font-size: 26px;
    }
 }

  @media screen and (max-width: 600px) {
    .text-gc {
        font-size: 16px;
    }
 }

 @media screen and (max-width: 320px) {
    .text-gc {
        font-size: 14px;
    }
 }

 .text-gcCart { font-size: 18px; line-height: 1!important; }

 @media screen and (max-width: 980px) {
    .text-gcCart {
        font-size: 18px;
    }
 }

 @media screen and (max-width: 320px) {
    .text-gcCart {
        font-size: 15px;
    }
 }
 
 .text-disc { font-size: 16px; line-height: 1!important; }
 .text-small { font-size: 14px!important;}
 .text-footer { font-size: 12px; line-height: 1.5!important; }
 .text-xsmall { font-size: 12px!important;}
 .text-options { line-height: 1.2!important; }
 .text-cents { font-size: 25px;vertical-align: super !important;}


 /* Text */
// Contextual colors

.text-huge { font-size: 64px; margin: 0px!important; }

  @media screen and (max-width: $sm-min) {
	.text-huge {
		font-size: 48px !important;
		margin: 0px !important;
	}
 }

.text-white { color: $white !important; }
.text-primary { color: $attprimary !important; }
.text-att-blue { color: $attblue !important; }
.text-att-green { color: $attdarkblue !important; }
.text-att-light { color: $attlight !important; }
.text-att-grey { color: $attgrey !important; }


::-webkit-input-placeholder { /* Edge */
  color: $attlight!important;
}

:-ms-input-placeholder { /* Internet Explorer */
  color: $attlight!important;
}

::placeholder {
  color: $attlight!important;
}

