// Colors

$clean_themeblue: #172a53;

// Theme Colors
$attprimary:   #000000 !default;
$attblue:      #009fdb !default;
$attdarkblue:  #0057b8 !default;
$attgrey:      #505050 !default;
$attlightgrey: #d2d2d2 !default;
$attlight:     #f2f2f2 !default;


// Breakpoints (Media Queries)
$sm-min: 576px;
$md-min: 768px;
$lg-min: 992px;
$xl-min: 1200px;

$sxs-max: 320px;
$xs-max:  575px;
$sm-max:  767px;
$md-max:  991px;
$lg-max:  1199px;



// $theme-colors: () !default;
// // stylelint-disable-next-line scss/dollar-variable-default
// $theme-colors: map-merge(
//   (
//     "attprimary":  $attprimary,
//     "attblue":     $attblue,
//     "attgrey":     $attgrey,
//     "attlight":    $attlight,
//     "attdarkblue":    $attdarkblue
//   ),
//   $theme-colors
// );
